section.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 0;
  .left {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url("/images/auth/signup.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h1 {
        max-width: 250px;
        font-weight: 800;
        line-height: 1.2;
        font-size: 40px;
        .highlight {
          color: var(--main-color);
        }
      }
    }
  }
  
  .right {
    width: 50%;
    height: 100%;
  }
}