section.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 0;
  .left {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url("/images/auth/signup.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .right {
    width: 50%;
    height: 100%;
  }
}