:root {
  --main-color: #DD201C;

  --background: #F8F9FA;
  --box-color: #fff;
  --color: #000;
  --p-color: #AAAAAC;
}

.dark {
  --background: #0D0E12;
  --box-color: #161820;
  --color: #fff;
}


/* The main styles */
* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--color);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-cairo), sans-serif;
}
::selection {
  background-color: color-mix(in srgb, var(--main-color), transparent 50%);
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

section {
  padding-top: 90px;
}


/* global values */
h1 { font-size: 2.2em; }
p {
  line-height: 2;
  color: var(--p-color);
}
@media (max-width: 500px) {
  h1 { font-size: 1.7em; }
  p { font-size: 14px; }
}
@media (max-width: 350px) {
  h1 { font-size: 1.5em; }
  p { font-size: 12px;}
}

ul, ol {
  margin: 0;
  padding: 0;
}
li { list-style: none; }
a {
  text-decoration: none;
  user-select: none;
}
nav, footer { user-select: none; }
img {
  pointer-events: none;
  user-select: none;
}

input {
  border: none;
  outline: none;
  caret-color: var(--main-color);
}
[type="submit"] {
  cursor: pointer;
  text-transform: capitalize;
}
textarea {
  resize: vertical;
}

/* Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}